body{
    background-color: rgb(247, 243, 243);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h1{
    color: rgb(12, 10, 11);
}
nav {
    background-color: #cecece;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid rgb(12, 10, 11); 
} 
nav .logo {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin: 0; 
    font-size: 1.5rem; 
    color: rgb(12, 10, 11)
}

nav .logo img {
    width: 40px; 
    height: 40px; 
}
nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    gap: 15px; 
}
main {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;
}

.descricao {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    font-size: 1.2rem; 
    margin: 20px 0; 
    line-height: 1.8; 
    background: linear-gradient(90deg, #f0f0f0, #cecece);
    padding: 20px; 
    border-left: 5px solid rgb(12, 10, 11); 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-style: italic; 
    text-align: justify;
}

.descricao img {
    width: 180px; 
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; 
}

.descricao p {
    margin: 0; 
    text-align: justify; 
}
.descricao time{
    font-weight: bold;
}
#data{
    background: linear-gradient(90deg, #f0f0f0, #cecece);
    width: 600px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-left: 3px solid rgb(12, 10, 11); 
    font-family: Arial, sans-serif; 
    font-size: 1.2rem; 
    color: rgb(12, 10, 11);
    text-align: center; 
}
form {
    width: 100%; 
    height: 100%; 
    background: linear-gradient(90deg, #f0f0f0, #cecece);
    padding: 30px; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: 500px; 
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px; 
    border-left: 3px solid rgb(12, 10, 11); 
}
form label {
    display: block; 
    font-weight: bold; 
}

form input, form select {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1rem; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
}

form input:focus, form select:focus {
    outline: none; 
    border-color: rgb(12, 10, 11); 
    box-shadow: 0 0 5px rgba(12, 10, 11, 0.5);
}

form button {
    background-color: rgb(12, 10, 11); 
    color: #fff; 
    padding: 10px 15px;
    border: none; 
    border-radius: 5px; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 5px; 
    
}

form button:hover {
    background-color: #333; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
}

footer {
    background-color: #cecece; 
    color: rgb(12, 10, 11); 
    padding: 20px; 
    text-align: center; 
    font-size: 1rem; 
    border-top: 3px solid rgb(12, 10, 11);  
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); 
}

footer a {
    color: rgb(12, 10, 11); 
    text-decoration: none; 
    font-weight: bold; 
}
